<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>FornecedorApp</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css" media="screen,projection" />
	<link rel="stylesheet" href="style/styleCss.css" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta charset="utf-8"/>
</head>

<body>
	<nav>
		<div class="nav-wrapper">
      		<a href="#" class="brand-logo">Fornecedor</a>
      		<ul id="nav-mobile" class="right hide-on-med-and-down">
        		<li><a href="listarFornecedores" class="waves-effect waves-light btn">Lista de Fornecedores</a></li>        	
      		</ul>
    	</div>
	</nav>

	<div th:each="fornecedor : ${fornecedor}" class="container detalhesEvento">
		<h5>Detalhes do Fornecedor</h5>
		<div class="row">
			<p>Nome: <span th:text="${fornecedor.nome}"></span></p>
			<p>Endereço: <span th:text="${fornecedor.endereco}"></span></p>
			<p>Telefone: <span th:text="${fornecedor.telefone}"></span></p>
			<p>E-mail: <span th:text="${fornecedor.email}"></span></p>
		</div>
	</div>
	
	<th:block th:include="mensagemValidacao"></th:block>

	<div class="container formFornecedor">
		<form method="post">
			Descrição: <input type="text" value="" name="descricao" /> Código: <input
				type="text" value="" name="codigo" />
	
			<button type="submit" class="waves-effect waves-light btn">Adicionar</button>
		</form>
	</div>
		
	<table class="container tabelaFornecedor">
		<thead>
			<tr>
				<th>Código</th>
				<th>Descrição</th>
				<th>Deletar</th>	
			</tr>
		</thead>
		
		<tbody>
			<tr th:each="produto : ${produtos}">
				<td><span th:text="${produto.codigo}"></span></td>
				<td><span th:text="${produto.descricao}"></span></td>
				<td><a class="waves-effect waves-light btn-small" th:href="${(#mvc.url('FC#deletarProduto').arg(0, produto.codigo)).build()}"><i class="material-icons left">delete</i></a></td>
			</tr>
		</tbody>
	</table>

	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>