<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<title>juliomendes90</title>
</head>

<body>
	<h1>Cadastro de Fornecedor</h1>
	
	<form action="" method="post">
		Nome: <input type="text" value="" name="nome">
		Endereço: <input type="text" value="" name="endereco">
		Telefone: <input type="tel" value="" name="telefone">
		Email: <input type="email" value="" name="email">
		
		<button type="submit">Salvar</button>
	</form>
</body>
</html>